/* GLOBAL STYLES */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: brown;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

/*  MAIN CONTENT STYLES */

#content {
    width: 700px;
    background-color: bisque;
    border-radius: 10px;
    padding: 15px;
}

header {
    width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 75px;

    background-color: bisque;
    
}

header button {
    width: 100px;
    height: 35px;
}

/* HOME PAGE STYLES */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.home-container img {
    border-radius: 10px;
}

/* MENU PAGE STYLES */

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    gap: 20px;
    height: 200px;
}

.menu-container ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-container li {
    list-style: none;
    font-size: 1.5rem;
}