/* GLOBAL STYLES */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: brown;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

/*  MAIN CONTENT STYLES */

#content {
    width: 700px;
    background-color: bisque;
    border-radius: 10px;
    padding: 15px;
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 75px;

    background-color: bisque;
    
}

button {
    width: 100px;
    height: 35px;
}

/* HOME PAGE STYLES */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.home-container img {
    border-radius: 10px;
}

/* MENU PAGE STYLES */